@import "settings";
@import "foundation";
@import "mixins";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@import url(https://fonts.googleapis.com/css?family=Cantarell:400,700);

h3,h4,h5{
    font-family: Cantarell "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: bold;
}

header{
    background: #ff8b1f;
    padding: 20px 0 20px;
    h1, h2{
        font-family: $font-family-sans-serif;
    }
    .contact{
        margin: 0 auto;
        p{
            margin: 10px 0;
            font-size: rem-calc(20);
        }
    }
}

section{
    padding-top: 25px;
}

#mainrow{
    h4.jobs{
        margin-bottom: 40px;
    }
    .skills{
        position: relative;
        line-height: 175%;
    }
    .xpbox{
        margin-top: 55px;
        h5{
            color: #fff;
            margin-bottom: 4px;
        }
        color: #fff;
        background: #ff7f2a;
        padding: 7px 5px 7px;
    }
}

.profile{
    @include border-radius(100px);
}
@media #{$small-up}{
    #mainrow{
        h4.jobs{
            margin-bottom: 20px;
            margin-top: 30px;
        }
        .skills{
            line-height: 115%;
        }
        .xpbox{
            margin-top: 25px;
        }
        .admincolumn, .devcolumn{
            text-align: center;
        }
    }
}

@media #{$medium-up}{
    #mainrow{
        .xpbox{
            margin-top: 25px;
        }
        .tagcloud{
            position: absolute;
            bottom: -9px;
            &.cloudleft{
                left: 0;
            }
            &.cloudright{
                right: 0;
            }
        }
        .devcolumn{
            text-align: right;
        }
        .admincolumn{
            text-align: left;
        }
    }
}

@media #{$large-up}{
    .contact{
        display: inline-block;
        margin-top: 30px;
        margin-left: 50px;
    }
    #mainrow{
        .xpbox{
            margin-top: 55px;
        }
        .skills{
            line-height: 175%;
        }
    }
}

